.expert-appointment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 300px;
    margin: 10px;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out; /* Added transform transition */
}

.card.hidden {
    transform: translateY(100%); /* Move the card outside the viewport */
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #0056b3;
}
