.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent overlay */
  z-index: 999; /* Ensure loader is on top of other content */
}

.loader {
  border: 8px solid #f1c40f; /* Orange border */
  border-radius: 50%;
  border-top-color: transparent; /* Transparent top for spinning effect */
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
