.stockList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.stockCard {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s;
}

.stockDetails {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.detailItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailLabel {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.detailValue {
  font-size: 1.2em;
  color: #666;
}

.stockCard:hover {
  transform: translateY(-10px);
}

.stockCard h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #333;
}

.stockCard p {
  margin: 5px 0;
  font-size: 1em;
  color: #666;
}

.stockCard button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.stockCard button:hover {
  background-color: #0056b3;
}
.protfolioBtn{
  margin-left: 2vw;
}