

.whyChooseUs{
    text-align: center;
    margin-top: 8vh;
    margin-left: 33vw;
    background-color: #BBDBFA;
    width: 30vw;
    
}
.whyChooseUs h1{
    font-weight: 500;
    font-size: 4vw;
    color: #084C90;
}

.bannerImages {
    width: 100vw;
    height: 55vh;
    
}

.bigbanner img{
   overflow: hidden;
   width:1150px;
}

.whyChooseUs {
    text-align: center;
    margin-top: 5vh;
    margin-left: 33vw;
    background-color: #BBDBFA;
    width: 35vw;
}

.whyChooseUs h1 {
    font-weight: 500;
    font-size: 4vw;
    color: #084C90;
}

.reasonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4vh;
}

.reason {
    width: 30%;
    margin-bottom: 4vh; 
    background-color: #BBDBFA;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px #BBDBFA(0, 0, 0, 0.1);
}

.reason h2 {
    color: #084C90;
    font-weight: 600;
    font-size: 2vw;
    margin-bottom: 1.25vh;
}

.reason p {
    font-size: 1.5vw;
    color: #333;
}

.enimationSection{
    display: flex;

}
.imageContainer{
    height: 50vh;
    width: 40vw;
    margin-left: 5vw;
    margin-top: 3vh;
    border-radius: 2vw;
    box-shadow: 0 0 10px #BBDBFA;

}
.card{
    height: 50vh;
    width: 40vw;
    margin-left: 5vw;
    margin-top: 3vh;
    border-radius: 2vw;
    box-shadow: 0 0 10px #BBDBFA;
    text-align: center;
    padding: 2vh;
}


.servicesSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.servicesSection .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servicesSection .card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #BBDBFA(0, 0, 0, 0.1);
    text-align: center;
    background-color: #ffffff;
}

.servicesSection .card h2 {
    color: #084C90;
    font-size: 24px;
}

.servicesSection .card p {
    color: #333;
    font-size: 18px;
}

.servicesSection .exploreButton {
    text-align: center;
    margin-top: 20px;
}

.servicesSection .exploreButton button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.servicesSection .exploreButton button:hover {
    background-color: #0056b3;
}

